.vscode/**
.vscode-test/**
**/*.ts
**/*.map
src/**
.eslintrc.js
tsconfig.json
.vscode-test/**
.gitignore
vsc-extension-quickstart.md
images/**
tests/**
out/test/**
.prettierignore
.prettierrc.json
grammar/**
